{%  extends 'main/base.html' %}

{% block title %}
{% load get_type %}
Формирование ведомости
{% endblock %}

{% block body %}
<h1>Формирование ведомости</h1>
<div class="row">
  <div class="col-2">
      <a id="pdf" class="badge bg-primary" href="{% url 'main:vedomost_download' %}?type={% get_type %}">save as PDF</a>
  </div>
</div>
<br>
<div>{% get_type %}</div>
<div>
    <form method="get">
        <input type="text" name="name" placeholder="Напишите тип оборудования">
        <input type="submit" value="Фильтр по типу">
    </form>
</div>
<br>
<div id="prt"></div>

<br>
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Инв. номер</th>
                    <th>Примечание</th>
                    <th>Текущий пользователь</th>
                    <th>Тип</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            {{ product.name_short }}
                        </td>
                        <td>{{ product.identity_number }}</td>
                        <td>
                            {{ product.description_short }}

                            {% if product.description|length > 28 %}
                            <a href="" class="badge rounded-pill bg-primary" data-bs-toggle="modal" data-bs-target="#product{{ product.pk }}">></a>

                            <div class="modal fade" id="product{{ product.pk }}" tabindex="-1" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">{{ product }}</h5>
                                  </div>
                                  <div class="modal-body">
                                    {{ product.description }}
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            {% endif %}

                        </td>
                        {% if product.record_set.first.customer.fio %}
                        <td>
                            {{ product.record_set.first.customer.fio }}
                        </td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td>
                            <div class="producttype" data-id="{{ product.producttype.id }}">
                                {{ product.producttype }}
                            </div>
                        </td>

                    </tr>
                {% endfor %}
            <tr>
                <td colspan="5" align="right" id="total">Итого: {{ products|length }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block footer %}
{% load static %}
<script src="{% static 'js/product_type.js' %}" type="text/javascript"></script>
{% endblock %}
